<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
      <h1>insert_access</h1>  

      <form method="POST">
        {% csrf_token %}

        <label for="na">Name</label>
        <select name="na" id="na">
            {% for na in LWO %}
                <option value="{{na.pk}}">{{na.name}}</option>
            {% endfor %}
        </select><br><br>

        <label for="dt">Date</label>
        <input type="date" name="dt" id="dt"><br><br>

        <label for="au">Author</label>
        <input type="text" name="au" id="au"><br><br>

        <input type="submit">
      </form>
    </center>
</body>
</html>